@media (prefers-color-scheme: dark) {
  .h-screen.background {
    background: #333;
  }

  .h-screen.transparent-active {
    background: #33333330;
  }
}

@media (prefers-color-scheme: light) {
  .h-screen.background {
    background: #ddd;
    color: black;
  }

  .h-screen.transparent-active {
    background: #dddddd30;
  }

  .h-screen.transparent-active .text-gray-trasnparent {
    color: #e0e0e0;
  }

}