@media (prefers-color-scheme: dark) {
  body.background {
    background: #333;
  }

  body.background.transparent-active {
    background: #33333330;
  }
}

@media (prefers-color-scheme: light) {
  body.background {
    background: #ddd;
    color: black;
  }

  body.background.transparent-active {
    background: #dddddd30;
  }

  body.transparent-active .text-gray-trasnparent {
    color: #e0e0e0;
  }

  body.transparent-active .arrow_btn {
    color: #e0e0e0;
  }
}