@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Thin.eot');
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Thin.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Thin.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* light */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Light.eot');
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Light.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* extraLight */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.eot');
  src: url('./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Medium.eot');
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Medium.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* semiBold */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir/Vazirmatn-FD-SemiBold.eot');
  src: url('./assets/fonts/vazir/Vazirmatn-FD-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Bold.eot');
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Bold.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Black.eot');
  src: url('./assets/fonts/vazir/Vazirmatn-FD-Black.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Black.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: balooTamma;

  src: url('./assets/fonts/BalooTamma/BalooTamma2-Bold.ttf');
}

body {
  font-family: Vazir;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.moveable {
  -webkit-app-region: drag;
}

.not-moveable {
  -webkit-app-region: none;
}