@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;

  src: url("./assets/fonts/vazir/Vazirmatn-FD-Medium.eot");

  src: url("./assets/fonts/vazir/Vazirmatn-FD-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Medium.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Medium.woff") format("woff"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Medium.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}
@font-face {
  font-family: Vazir;

  src: url("./assets/fonts/vazir/Vazirmatn-FD-Bold.eot");

  src: url("./assets/fonts/vazir/Vazirmatn-FD-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Bold.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Bold.woff") format("woff"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Bold.ttf") format("truetype");

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: Vazir;

  src: url("./assets/fonts/vazir/Vazirmatn-FD-Black.eot");

  src: url("./assets/fonts/vazir/Vazirmatn-FD-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Black.woff2") format("woff2"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Black.woff") format("woff"),
    url("./assets/fonts/vazir/Vazirmatn-FD-Black.ttf") format("truetype");

  font-weight: 900;

  font-style: normal;
}

@font-face {
  font-family: balooTamma;

  src: url("./assets/fonts/BalooTamma/BalooTamma2-Bold.ttf");
}

body {
  background: #fef7f2;
  font-family: Vazir;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.moveable {
  -webkit-app-region: drag;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}
