@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;

  src: url('./assets/fonts/vazir/Vazirmatn-FD-Medium.eot');

  src:
    url('./assets/fonts/vazir/Vazirmatn-FD-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Medium.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Medium.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: Vazir;

  src: url('./assets/fonts/vazir/Vazirmatn-FD-Bold.eot');

  src:
    url('./assets/fonts/vazir/Vazirmatn-FD-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Bold.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Bold.ttf') format('truetype');

  font-weight: normal;

  font-style: normal;
}

@font-face {
  font-family: Vazir;

  src: url('./assets/fonts/vazir/Vazirmatn-FD-Black.eot');

  src:
    url('./assets/fonts/vazir/Vazirmatn-FD-Black.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Black.woff2') format('woff2'),
    url('./assets/fonts/vazir/Vazirmatn-FD-Black.ttf') format('truetype');

  font-weight: 900;

  font-style: normal;
}

@font-face {
  font-family: balooTamma;

  src: url('./assets/fonts/BalooTamma/BalooTamma2-Bold.ttf');
}

.h-screen {
  border-radius: 28px;
}

body {
  font-family: Vazir;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.moveable {
  -webkit-app-region: drag;
}

.not-moveable {
  -webkit-app-region: none;
}

@media (prefers-color-scheme: dark) {
  .h-screen {
    background: #333;
  }

  body.transparent-active .h-screen {
    background: #33333330;
  }
}

@media (prefers-color-scheme: light) {
  .h-screen {
    /* background: #dddddd30; */
    background: #ddd;
    color: black;
  }

  body.transparent-active .h-screen {
    background: #dddddd30;
  }

  body.transparent-active .text-gray-trasnparent {
    color: #e0e0e0;
  }

  body.transparent-active .arrow_btn {
    color: #e0e0e0;
  }
}
